body{
    background-image: url(../multimedia/fondos/fondo-lineas-verdes.webp);
    background-repeat: repeat;
}
.barrasuperior{
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.LoGO{
    width: 10%;
}

.desplegable{
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    align-items: center;
    text-align: end;
    padding-right: 10px;

}

.desplegable-btn{
    display: none;
    color:rgb(10, 245, 10);
    background: black;
    border: none;
}

.desplegable-content{
    width: 100%;

}

.desplegable-content a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.429);
    margin-left: 05%;
    text-align: center;

}

.desplegable-content a:hover{
    color: rgb(255, 255, 255);
}

/* MAIN */

/* presentacion de la pagina */

.presentacion-Pagina{
    background-color: rgba(53, 53, 53, 0.278);
    display: flex;
    flex-direction: row;
    height: max-content;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 10px rgb(4, 252, 4);

}

.imagen-presentacion{
    width: 20vh;
    padding: 20px;
    filter: brightness(150%);
}

.tex-presentacion h1{
    color: white;
    font-size: 120%;
    padding: 20px;
}
.tex-presentacion{
    color: rgba(255, 255, 255, 0.655);
    font-size: 100%;
}

.contenidouno{
    color:aliceblue;
    width: 100%;
    margin-top: 50px;
}

.title-ContenidoUno{
    text-align: center;
}

.caracteristicas-producto{
    color: aliceblue;
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.caracteristicas-producto img{
    width: 30vh;
}

.especificacionesFlotantes{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.131);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.especificacionesFlotantes h3{
    text-align: start;
    padding-left: 20px;

}

.alinearespecificacionesFlotantes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.alinearespecificacionesFlotantes article{
    width: 70%;
    margin: 10px;
    padding-right: 10px;
    font-size: 120%;
}

.alinearespecificacionesFlotantes img{
    width: 30vh;
    height: 50vh;
}

#especificacionesFlotantesdos h3{
    margin-top: 07%;
    text-align: end;
    padding-right: 10%;
}

#alinearespecificacionesFlotantesdos {
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}

#alinearespecificacionesFlotantesdos img{
    width: 30vh;
    height: 50vh;
}

@media (max-width: 500px) {
    
    .desplegable {
        position: relative;
    }

    .desplegable-btn{
        display: block;
    }

    .desplegable-content a{
        display: flex;
        flex-direction: row-reverse;
        text-decoration: none;
        margin-bottom: 5px; 
        background: black;
        padding: 10px;
    }

    .desplegable-content {
        display: none;
        position: absolute;
        top: 0;
        right: 100%;
    }

    .desplegable-content.active {
        display: block;
        top: 0;
        width: 100vh;
        height: 100vh;
        background-image: url(../multimedia/fondos/fondo-lineas-verdes.webp);
        background-size:100vh;
        background-repeat: no-repeat;
    }
    
    .presentacion-Pagina{
        flex-direction: column;
        align-items: center;
        box-shadow: none;
    }

    .imagen-presentacion{
        width: 24vh;
        height: 24vh;
        padding: 20px;
    }

    .tex-presentacion{
        color: rgba(255, 255, 255, 0.655);
        font-size: 100%;
    }

    .caracteristicas-producto{
        flex-direction: column-reverse;
        font-size: 90%;
        color: rgba(255, 255, 255, 0.655);
    }

    .caracteristicas-producto img{
        width: 20vh;
        padding-bottom: 05vh;
    }

    .especificacionesFlotantes{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.437);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .especificacionesFlotantes h3{
        text-align: center;
        padding: 10px;
    
    }
    
    .alinearespecificacionesFlotantes{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }
    
    .alinearespecificacionesFlotantes article{
        width: 70%;
        margin: 10px;
        padding-right: 10px;
        text-align: center;
    }
    
    .alinearespecificacionesFlotantes img{
        width: 16vh;
        height: 35vh;
    }


        
    #especificacionesFlotantesdos h3{
        margin-top: 07%;
        text-align: center;
        padding-right: 10%;
    }

    #alinearespecificacionesFlotantesdos {
        display: flex;
        flex-direction: column-reverse;
        text-align: end;
    }

    #alinearespecificacionesFlotantesdos img{
        width: 20vh;
        height: 30vh;
        filter: brightness(90%);
    }
}